.students{
    padding: $pd-2 0;
    .students__content{
        p{
            @include styleText($color-black-light,$fs-1 + 3,$fw-normal);
        }
        .student__courses{
            .card {
                .card-title {
                    @include styleText($color-black-0, $fs-0, $fw-bold-1);
                }
                .card-text {
                    @include styleText($color-gray-4, $fs-1 - 1, $fw-normal);
                }
                .right__rating {
                    display: flex;
                    .rating__icon {
                        @include styleText($color-yellow, $fs-1 - 1, $fw-normal);
                        margin-right: $mg-0;
                    }
                    span:nth-child(2) {
                        @include styleText($color-gray-4, $fs-1 - 1, $fw-bold-1);
                        margin-right: $mg-0;
                    }
                    span:last-child {
                        @include styleText($color-gray-4, $fs-1 - 1, $fw-normal);
                    }
                }
                .right__price {
                    text-align: right;
                    .old__price {
                        @include styleText($color-gray-4, $fs-1 - 1, $fw-normal);
                        text-decoration: line-through;
                    }
                    .new__price {
                        @include styleText($color-black-0, $fs-0, $fw-bold);
                    }
                }
            }
        }
    }
}